<div class="roi-summary-table">
  <div class="roi-summary-table__header">
    <h4 class="roi-summary-table__title">ROI Summary</h4>
    <app-download-button label="Download table as PNG" (download)="onDownload()"></app-download-button>
  </div>

  <div class="roi-summary-table__wrapper" #tableEl>
    <table class="roi-summary-table__table">
      <caption class="sr-only">ROI summary for all picks</caption>
      <thead>
        <tr>
          <th scope="col"><span class="sr-only">Color</span></th>
          <th scope="col">Company</th>
          <th scope="col">Ticker</th>
          <th scope="col">Price at Age 10</th>
          <th scope="col">Price Today</th>
          <th scope="col">100 Shares Value</th>
          <th scope="col">ROI</th>
        </tr>
      </thead>
      <tbody>
        @for (pick of picks(); track pick.ticker; let i = $index) {
          <tr>
            <td>
              <span class="roi-summary-table__dot" [style.background]="STOCK_COLORS[i]" aria-hidden="true"></span>
            </td>
            <td>{{ pick.companyName }}</td>
            <td class="roi-summary-table__ticker">{{ pick.ticker }}</td>
            <td>{{ formatCurrency(pick.priceOnBirthday) }}</td>
            <td>{{ formatCurrency(pick.currentPrice) }}</td>
            <td class="roi-summary-table__value">{{ formatCurrency(pick.currentValue) }}</td>
            <td [class.roi-summary-table__positive]="pick.roi > 0"
                [class.roi-summary-table__negative]="pick.roi < 0">
              {{ formatPercent(pick.roi) }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
