<div class="intro-screen">
  <div class="intro-screen__card">
    <h1 class="intro-screen__title" tabindex="-1">Your Day Online</h1>
    <p class="intro-screen__subtitle">A totally normal day on the internet. Nothing weird here.</p>

    <div class="intro-screen__description">
      <p>
        You've got 10 everyday tasks to knock out today &mdash; check your phone, do some shopping,
        deal with subscriptions, set up a bank account. You know, the boring stuff.
      </p>
      <p>
        Just do what you'd normally do. Click what you'd normally click.
        Everything is completely fine and nothing bad will happen. We promise.
      </p>
    </div>

    <button
      type="button"
      class="ngpf-btn ngpf-btn-primary intro-screen__start-btn"
      (click)="start.emit()"
    >
      Start My Day
    </button>
  </div>
</div>
